.section-bgk {
    background: rgb(92,83,17);
    background: radial-gradient(circle, rgba(92,83,17,1) 0%, rgba(0,0,0,1) 100%);
    color: #726514;
    position: relative;
    z-index: 100;
    padding-top: 105px;
  }
  .gallery .content h3 {
    font-weight: 600;
    font-size: 26px;
  }

   h12 {
        margin: 0;
        font-size: 40px;
        font-weight: 700;
        line-height: 56px;
        color: #cf9b22;
        
        margin-left: auto;
        margin-right: auto;
        font-family: 'El Messiri', sans-serif;
      }
      .btn-watch-video2 {
        font-size: 15px;
        display: inline-block;
        padding: 10px 25px 8px 40px;
        transition: 0.5s;
        
        color: #dea33ebd;
        position: relative;
        font-weight: 600;
        
      }  
    

    .btn-watch-video2 i {
     color: #e2e2e273;
     font-size: 32px;
     position: absolute;
     left: 0;
     top: 7px;
     transition: 0.3s;
   }
   
    .btn-watch-video2:hover {
     color: #f1ac15;
   }
   
    .btn-watch-video2:hover i {
     color: #c98a16;
   }




   /* Portfolio Section
--------------------------------*/

#portfolio .portfolio-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

#portfolio .portfolio-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

#portfolio .portfolio-item {
  position: relative;
  height: 360px;
  overflow: hidden;
}

#portfolio .portfolio-item figure {
  background: #000;
  overflow: hidden;
  height: 240px;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

#portfolio .portfolio-item figure:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item figure .link-preview, #portfolio .portfolio-item figure .link-details {
  position: absolute;
  display: inline-block;
  opacity: 0;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  transition: 0.2s linear;
}

#portfolio .portfolio-item figure .link-preview i, #portfolio .portfolio-item figure .link-details i {
  padding-top: 6px;
  font-size: 30px;
  color: #49490e;
}



#portfolio .portfolio-item figure .link-preview {
  left: calc(50%);
  top: calc(50%);
}

#portfolio .portfolio-item figure .link-details {
  right: calc(50% );
  top: calc(50% );
}

#portfolio .portfolio-item figure:hover .link-preview {
  opacity: 1;
  left: calc(50% - 8px);
}

#portfolio .portfolio-item figure:hover .link-details {
  opacity: 1;
  right: calc(50% - 44px);
}

#portfolio .portfolio-item .portfolio-info {
  background: #a6a6a4;
  text-align: center;
  padding: 30px;
  height: 90px;
  border-radius: 0 0 3px 3px;
}

#portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 18px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-info h4 a {
  color: #333;
}

#portfolio .portfolio-item .portfolio-info h4 a:hover {
  color: #b08a2d;
}

#portfolio .portfolio-item .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}


  